<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="600" id="emailContainer"
                   style="font-family: 'Georgia';">
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="15" cellspacing="0" width="100%" id="emailHeader"
                               style="font-family: 'Georgia'">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td align="center" valign="top"
                                    style="
                    color: #000;
                        font-size: 22px;
                        border-bottom: 2px solid #00B8FF;
                        font-weight: 700;
                    ">WAC
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="
        color: #fff;
            font-size: 22px;
             ;
            font-weight: 700;
        ">
                    <td align="center" valign="top">
                        <table border="0" cellpadding="10" cellspacing="10" width="100%" id="emailBody"
                               style="background: rgba(  238, 238, 238, .1); color:  #515266; font-size: 18px; ">

                            <tr>
                                <td></td>
                                <td></td>
                                <td align="left" valign="top" colspan="5">
                                    Happy landing, explorer!
                                    World At Competition is the Universe of Opportunities.
                                    Once you entered it, there is no way back.
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr> <td></td>
                                <td></td>

                                <td align="left" valign="top" colspan="5">
                                    Just kidding. You still can decide whether you like it or not, but we are convinced
                                    that truly cool youth like you does not let the chance go.
                                </td> <td></td>
                                <td></td>

                            </tr>
                            <tr> <td></td>
                                <td></td>

                                <td align="left" valign="top" colspan="5">
                                    If you are ready to compete, please confirm your account.
                                </td> <td></td>
                                <td></td>

                            </tr>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td align="center" valign="top" style="color: #000; border-bottom: 2px solid #00B8FF">
                                    Confirm my account
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="10" cellspacing="0" width="100%" id="emailFooter">
                            <tr>
                                <td align="center" valign="top" style="color: #515266   ">
                                    Sincerely, WAC team
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

