<div class="partners-box">
  <h2 id="partners-heading">Our partners</h2>
  <ul id="partners">
    <li>
      <a class="img-link" href="http://www.gistnetwork.org"><%= image_tag 'gist logo.png' %> </a>
    </li>
    <li>
      <a href="http://startuplisboa.com" class="img-link">
        <%= image_tag 'logo_lisboa.png' %>
      </a>

    </li>

    <li>
      <a class="img-link" href="http://b-sharks.com/en">
        <%= image_tag 'sharks1.jpg' %>
      </a>
    </li>

  </ul>
  <div>&nbsp;!</div>
</div>