<%	 if @resource.role_id == 1 %>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" width="600" id="emailContainer"
                 style="font-family: 'Georgia';">
            <tr>
              <td align="center" valign="top">
                <table border="0" cellpadding="15" cellspacing="0" width="100%" id="emailHeader"
                       style="font-family: 'Georgia'">
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td align="center" valign="top"
                        style="
                        color: #000;
                            font-size: 22px;
                            border-bottom: 2px solid #00B8FF;
                            font-weight: 700;
                        ">WAC
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr style="
            color: #fff;
                font-size: 22px;
                ;
                font-weight: 700;
            ">
              <td align="center" valign="top">
                <table border="0" cellpadding="10" cellspacing="10" width="100%" id="emailBody"
                       style="background: rgba(  238, 238, 238, .1); color:  #515266; font-size: 18px; ">

                  <tr>
                    <td></td>
                    <td></td>
                    <td align="left" valign="top" colspan="5">
                      Happy landing, explorer!
                      World At Competition is the Universe of Opportunities.
                      Once you entered it, there is no way back.
                    </td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr> <td></td>
                    <td></td>

                    <td align="left" valign="top" colspan="5">
                      Just kidding. You still can decide whether you like it or not, but we are convinced
                      that truly cool youth like you does not let the chance go.
                    </td> <td></td>
                    <td></td>

                  </tr>
                  <tr> <td></td>
                    <td></td>

                    <td align="left" valign="top" colspan="5">
                      If you are ready to compete, please confirm your account.
                    </td> <td></td>
                    <td></td>

                  </tr>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td align="center" valign="top" style="color: #000; border-bottom: 2px solid #00B8FF">
                      <%= link_to confirmation_url(@resource, confirmation_token: @token), {:style => 'display: block; max-width: 60%; margin: 0 auto; line-height: 32px; text-decoration: none; '} do %>
                          Confirm my account
                      <% end %>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <table border="0" cellpadding="10" cellspacing="0" width="100%" id="emailFooter">
                  <tr>
                    <td align="center" valign="top" style="color: #515266   ">
                      Sincerely, WAC team
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
<%	 else %>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" width="600" id="emailContainer"
                 style="font-family: 'Georgia';">
            <tr>
              <td align="center" valign="top">
                <table border="0" cellpadding="15" cellspacing="0" width="100%" id="emailHeader"
                       style="font-family: 'Georgia'">
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td align="center" valign="top"
                        style="
                        color: #000;
                            font-size: 22px;
                            border-bottom: 2px solid #00B8FF;
                            font-weight: 700;
                        ">WAC
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr style="
            color: #fff;
                font-size: 22px;
                ;
                font-weight: 700;
            ">
              <td align="center" valign="top">
                <table border="0" cellpadding="10" cellspacing="10" width="100%" id="emailBody"
                       style="background: rgba(  238, 238, 238, .1); color:  #515266; font-size: 18px; ">

                  <tr>
                    <td></td>
                    <td></td>
                    <td align="left" valign="top" colspan="5">
                      Welcome to the Club!
                      You are now part of the Universe of Opportunities that would constantly expand thanks to the efforts of your organization. Please confirm this.
                    </td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td align="center" valign="top" style="color: #000; border-bottom: 2px solid #00B8FF">
                      <%= link_to confirmation_url(@resource, confirmation_token: @token), {:style => 'display: block; max-width: 60%; margin: 0 auto; line-height: 32px; text-decoration: none; '} do %>
                          Confirm my account
                      <% end %>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr> <td></td>
                    <td></td>

                    <td align="left" valign="top" colspan="5">
                      World At Competition was created as a convenient and efficient platform to connect you with your target audience directly while being simple and beautiful.
                    </td> <td></td>
                    <td></td>

                  </tr>
                  <tr> <td></td>
                    <td></td>

                    <td align="left" valign="top" colspan="5">
                      If you still face some difficulties or have a question or suggestion, please let us know. We are excited to talk to you!
                    </td> <td></td>
                    <td></td>

                  </tr>
                  </tr>

                </table>
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <table border="0" cellpadding="10" cellspacing="0" width="100%" id="emailFooter">
                  <tr>
                    <td align="center" valign="top" style="color: #515266   ">
                      Lots of love, WAC team
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
<%	 end %>